@import "../../node_modules/aloha-css/sass/aloha";
@import "../../node_modules/aloha-vue/src/styles/styles";

@import "Example";

.a_menu_2__page {
  padding: 0 1rem 0 2.5rem;
}
.a_menu_2 {
  position: fixed;
}
.a_mobile {
  .a_menu_2__page {
    padding: 0 .5rem;
  }
  .a_menu_2__btn_toggle_outside_menu {
    display: inline-block;
  }
}

:root {
  --a_menu_2_width_expanded: 400px;
}

h1 {
  font-weight: 800;
  margin-bottom: 2rem;
}
h2 {
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
h3, h4 {
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h5 {
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  margin-bottom: 1rem;
}

.cursor_pointer {
  cursor: pointer;
}