div
  a-translation(
    tag="h1"
    text="_FIND_STEPS_"
  )

  a-table(
    :columns="columns"
    :data="dataSteps"
    :pagination="{ use: true }"
    key-id="step"
    label="_STEPS_"
  )
    template(
      v-slot:tags="{ row }"
    )
      step-tags(
        :is-button="true"
        :tags="row.tags"
      )