div
  a-translation(
    tag="h1"
    text="_FIND_STEPS_"
  )

  a-table(
    :columns="columns"
    :data="dataStepsFiltered"
    :pagination="{ use: true }"
    key-id="step"
    label="_STEPS_"
  )
    template(
      v-slot:tablePrepend
    )
      a-filters(
        :unapplied-model="unappliedModel"
        :applied-model="appliedModel"
        :filter-main="filterMain"
        :filters="filters"
        :main-model="mainModel"
        @update:main-model="updateMainModel"
        @update:applied-model="updateAppliedModel"
        @update:unapplied-model="updateUnappliedModel"
      )

    template(
      v-slot:stepName="{ row }"
    )
      page-find-steps-name(
        :step="row"
        :model-search="mainModelApplied.name"
      )

    template(
      v-slot:tags="{ row }"
    )
      step-tags(
        :is-button="true"
        :tags="row.tags"
      )
