a-menu-2(
  :can-change-body-class="true"
  :data="menuItems"
  :is-link-truncated="false"
  :is-search-breadcrumbs-truncated="false"
  :is-translated="true"
  key-children="children"
  key-slot="slot"
  menu-id="a_menu"
)
